{{ form_start(form) }}
{{ form_row(form.title)}}
 {{ form_row(form.description)}}
 {{ form_row(form.link)}}

        {% for  tag in form.Tag %}
            {{ form_row(tag.name) }}
        {% endfor %}
  

 <div class="d-none">
 {{ form_row(form.Author, {'value': app.user.id})}}
 </div>

    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
