{% extends 'base.html.twig' %}

{% block title %}FavCardsPrivate index{% endblock %}

{% block body %}
    <h1>Gestion de vos favoris</h1>
    
   
    <div class="col">
    <a href="{{ path('app_fav_cards_private_new')}}" class="btn btn-primary">Ajouter un favoris</a>
    <a href="{{ path('app_tags_new')}}" class="btn btn-primary">Ajouter un tag</a>
    
    </div>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Description</th>
                <th>Lien</th>
                <th>Auteur</th>
                <th>Création</th>
                <th>Modification</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fav_cards_private in cardsPrivate %}
            <tr>
                
                <td>{{ fav_cards_private.title }}</td>
                <td>{{ fav_cards_private.description }}</td>
                <td><a href="{{ fav_cards_private.link }}">{{ fav_cards_private.link }}</a></td>
                <td>{{ fav_cards_private.author.nickname }}</td>
                <td>{{ fav_cards_private.createdAt ? fav_cards_private.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ fav_cards_private.updatedAt ? fav_cards_private.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% for tag in fav_cards_private.tag %}
                        <em class="text-muted text-italic m-1">#{{tag.name}}</em>
                    {% else %}
                        <span class="badge badge-primary">No tags</span>
                    {% endfor %}
                <td>
                    <a href="{{ path('app_fav_cards_private_show', {'id': fav_cards_private.id}) }}">Voir</a>
                    <a href="{{ path('app_fav_cards_private_edit', {'id': fav_cards_private.id}) }}">Editer</a>
                    <a href="{{ path('app_fav_cards_private_delete', {'id': fav_cards_private.id}) }}">Supprimer</a>
                    <a href="{{ path('app_fav_cards_public_request', {'id': fav_cards_private.id}) }}">Requête</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_fav_cards_private_new') }}">Create new</a>
{% endblock %}
